*~
*.o
.cm
/src/svm/vmtest
/src/test
/src/modules/run
/doc/04KNORMAL.pdf
/src/modules/test
/src/modules/runm
*.ui
*.uo
/src/svm/opcodes
/doc/05KNORMALIZE.pdf
/doc/06KNORMALIZE.pdf
/doc/07CLOSURES.pdf
/doc/08CLOSURES.pdf
/doc/OVERVIEW.pdf
/doc/09CLOSURES.pdf
/doc/02CALLS-pre.pdf
/doc/02CALLS.pdf
/src/svm/disasm
/src/uft/runm
/src/svm/nmain
/src/vscheme/vschemem
/src/vscheme/vscheme
/build/*.d
/build/*
/bin/svm
/bin/svm-dis
/bin/svm-opcodes
/src/uft/*.vo
/www/index.html
/www/index.pdf
/www/calsched-list.html
/www/calsched.html
/www/modules/overview.md
/www/modules/o.pdf
/www/modules/modules.pdf
/www/modules/checkboxes.pdf
/student
/src/uft/*.scm
/src/uft/*.vs
/src/uft/*.vo
/src/svm/*.vs
/src/svm/*.vo
/src/vscheme/pre.v[so]
/bin/svm-test
/bin/vscheme
/bin/vschemem
/bin/svm-debug-test
/bin/svm-loader-instructions
/bin/uft.opt
/bin/uft
*.mlb
/clones/
/courseware
/server/
/grades/
/solutions/
/bin/vscheme.opt
/bin/uft.old
callgrind.out.*
/src/svm/legacy
a.out
/.migrated
